.login{
    width:600px;
    box-shadow: 0px 4px 6px rgb(17, 17, 17);
    border-radius: 5px;
    height: 300px;
    margin: auto;
    display: flex;
    background-color: rgb(229, 230, 228);
}
.signup{
    width:400px;
    box-shadow: 0px 4px 6px rgb(17, 17, 17);
    border-radius: 5px;
    margin: auto;
    
    background-color: rgb(229, 230, 228);
}


.login div, .signup div{
    width: 99%;
    height: 100%;

}
.data{
    background: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.918)), url(./assets/signback.png);
    background-repeat: round;
}
.data img{
    width: 150px;
    margin: auto;
}
.data p{
    color:white;
    text-align: center;
}
.inputs,.edit{
    text-align: center;
    padding: 10px;
}


.edit h3{
    font-weight: bolder;
}
.inputs input[type="text"],input[type="email"], input[type="password"],input[type="number"]{
    width:90%;
    height: 35px;
    border: 0.5px solid rgb(150, 150, 150);
    border-radius: 7px;
    background-color: transparent;
    margin-top: 30px;
}

.inputs input::grammar-error{
border: none;
}
.inputs input::placeholder{
    margin-left: 5px;
    font-family: 'Courier New', Courier, monospace;
    
}
.inputs button{
    border-radius: 30px;
    width:90%;
    height: 30px;
    background-color: #042768;
    color: white;
    margin-top: 20px;
}

.edit button{
    border-radius: 30px;
    width:90%;
    height: 30px;
    background-color: #042768;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


.inputs button:hover{
    box-shadow: 0 2px 4px rgb(110, 110, 110);
    width: 91%;
    height: 31px ;
}
.inputs input:hover{
    box-shadow: 0 2px 4px rgb(202, 202, 202);
    border-radius: 8px;
    background-color: rgb(235, 234, 234);
}

.signup .inputs h1{
    text-align: left;
    margin-left: 20px;
    color:red;
}
.success{
    background-color: rgba(5, 141, 51, 0.219);
    color:green;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    box-shadow: 0 3px 4px rgb(196, 197, 196);
}
fieldset{
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
}
.prescriptions{
   
    width:90%;
    margin: 10px auto;
    height: fit-content;
}
.prescriptions input[type="date"],.prescriptions input[type="time"]{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    height: 35px;
    border: 0.5px solid rgb(150, 150, 150);
    border-radius: 7px;
    background-color: transparent;
   
}


.edit option{
    border-radius: 5px;
    border: 0.5px solid gray;
    width:40%;
    height: 50px;
}

button h3 , button p{
    z-index: -5;
}
.dates{
    margin-top: 20px;
    display: block;
    text-align: left;
    width: 100%;
   
}




.edit input[type="radio"] {
    display: none;
  }

  /* Style the labels to look like buttons */
  .edit .radio-button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 1px 2px 6px grey;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 5px;
    min-width: 150px;
  }

  /* Change style when radio button is checked */
  .edit input[type="radio"]:checked + label {
    background-color: #072341;
    color: #ffffff;
    height: 70px;
  }